{
  "openapi": "3.0.3",
  "info": {
    "title": "Analytics API",
    "description": "OpenAPI 3.0 Specification of Mapp Intelligence AnalyticsAPI",
    "version": "1.0.0",
    "contact": {
      "name": "Mapp",
      "url": "https://www.mapp.com",
      "email": "swat@webtrekk.com"
    }
  },
  "servers": [
    {
      "url": "https://analytics-int-01.nbg.webtrekk.com/analytics-service/intelligence-api/",
      "description": "API Endpoint"
    }
  ],
  "tags": [
    {
      "name": "Query Management",
      "description": "Create and management of analysis query"
    },
    {
      "name": "Data Delivery",
      "description": "Provide analysis data"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth_security_scheme": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://analytics-int-01.nbg.webtrekk.com/analytics-service/intelligence-api/oauth/token",
            "scopes": {
              "mapp.intelligence-api": "submit analysis query"
            }
          }
        }
      }
    },
    "schemas": {
      "AnalysisQuery": {
      },
      "AnalysisResult": {
        "type": "object",
        "required": [],
        "properties": {
          "calculationDataType": {
            "type": "string",
            "description": "DataType returned",
            "enum": [
              "RAW_DATA"
            ]
          },
          "rows": {
            "type": "array",
            "description": "Array of rows",
            "items": {
              "type": "array",
              "description": "Array of values following the strict order of the headers",
              "items": {
              }
            }
          },
          "rowCount": {
            "type": "number",
            "description": "Number of rows returned."
          },
          "rowCountTotal": {
            "type": "number",
            "description": "Number of rows in the whole resultSet"
          },
          "headers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the Dimension or Metric"
                },
                "alias": {
                  "type": "string",
                  "description": "Generated unique identifier of the column in the analysis."
                },
                "arrangeType": {
                  "type": "string",
                  "description": "Mapp identifier of the Dimension or Metric"
                },
                "metric": {
                  "type": "boolean",
                  "description": "Indicates if column is a metric"
                },
                "dimension": {
                  "type": "boolean",
                  "description": "Indicates if column is a dimension"
                },
                "sumPositions": {
                  "type": "array",
                  "description": "Indiciates which rows contains a (sub)total value",
                  "items": {
                    "type": "number"
                  }
                },
                "sortIndex": {
                  "type": "number",
                  "description": "Indicates order of sorting when there is more than one sorting column. (starting from 0)"
                },
                "sortDirection": {
                  "type": "string",
                  "description": "Sorting direction if any",
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ]
                }
              }
            }
          },
          "columnCount": {
            "type": "number",
            "description": "Number of columns"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings occurred during calculation",
            "items": {
              "type": "string",
              "description": "Warning description"
            }
          },
          "timerange": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Analysis timerange"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the calculation"
          }
        }
      },
      "Problem": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "HTTP Status Code"
          },
          "statusCode": {
            "type": "string",
            "description": "Specific Mapp Error Code"
          },
          "title": {
            "type": "string",
            "description": "Short description of the problem"
          },
          "detail": {
            "type": "string",
            "description": "Detailed informations about the problem"
          }
        }
      },
      "QueryState": {
        "title": "QueryState",
        "type": "object",
        "properties": {
          "calculationId": {
            "type": "string",
            "description": "Id of the calculated data"
          },
          "resultUrl": {
            "type": "string",
            "description": "Link to get analysis data"
          },
          "status": {
            "type": "string",
            "description": "Analysis query state",
            "enum": ["SUCCESS", "FAILED", "ABORTED", "RUNNING"]
          },
          "details": {
            "type": "object",
            "properties": {
              "lastUpdatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    },
    "responses": {
      "Forbidden": {
        "description": "No permission to execute operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "examples": {
              "AnalysisNotFound": {
                "summary": "Missing Token",
                "value": {
                  "title": "TODO",
                  "status": 403,
                  "detail": "TODO",
                  "statusCode": "TODO"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Entity not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "examples": {
              "AnalysisNotFound": {
                "summary": "CorrelationId does not exist",
                "value": {
                  "title": "Analysis not found",
                  "status": 404,
                  "detail": "Analysis not found",
                  "statusCode": "ANALYSIS_NOT_FOUND"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth_security_scheme": [
        "mapp.intelligence-api"
      ]
    }
  ],
  "paths": {
    "/analysis-query": {
      "post": {
        "tags": [
          "Query Management"
        ],
        "summary": "Submit analysis query",
        "description": "Long description Submit an analysis query",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "requestBody": {
          "description": "Analytics Request Format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis completed",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "calculationId": {
                      "type": "string"
                    },
                    "resultUrl": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Calculated data available": {
                    "value": {
                      "calculationId": "8612fa1eaada53fbb1956402bbded4db732074e7e399645880ae6a54b99a2bd9_294915650484552",
                      "resultUrl": "https://analytics-qa.nbg.webtrekk.com/analytics-service/intelligence-api/analysis-result/8612fa1eaada53fbb1956402bbded4db732074e7e399645880ae6a54b99a2bd9_294915650484552"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Analysis enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "correlationId": {
                      "type": "string"
                    },
                    "statusUrl": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Query enqueued": {
                    "value": {
                      "correlationId": "94295cef-5b64-4934-ba25-011dd997aa81",
                      "statusUrl": "https://analytics-qa.nbg.webtrekk.com/analytics-service/intelligence-api/analysis-query/94295cef-5b64-4934-ba25-011dd997aa81"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "Invalid JSON input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis-query/{correlationId}": {
      "get": {
        "tags": [
          "Query Management"
        ],
        "summary": "Get query status",
        "description": "Long description",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "description": "ID of the query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Query status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryState"
                },
                "examples": {
                  "Analysis running": {
                    "value": {
                      "calculationId": "579d66fe984f72f7154c5f48e0d3d65741dac870eb337a0524d4d3db02f119b7_294915650484552",
                      "status": "RUNNING",
                      "details": {
                        "lastUpdatedAt": 1630430823529
                      }
                    }
                  },
                  "Analysis completed": {
                    "value": {
                      "calculationId": "579d66fe984f72f7154c5f48e0d3d65741dac870eb337a0524d4d3db02f119b7_294915650484552",
                      "status": "SUCCESS",
                      "resultUrl": "https://analytics-qa.nbg.webtrekk.com/analytics-service/intelligence-api/analysis-result/579d66fe984f72f7154c5f48e0d3d65741dac870eb337a0524d4d3db02f119b7_294915650484552",
                      "details": {
                        "lastUpdatedAt": 1630430828912
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Query Management"
        ],
        "summary": "Cancel query",
        "description": "Long description",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "description": "ID of the query to be canceled",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Query successfully canceled"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analysis-result/{calculationId}": {
      "get": {
        "tags": [
          "Data Delivery"
        ],
        "summary": "Download analysis data",
        "description": "Long description",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "parameters": [
          {
            "name": "calculationId",
            "in": "path",
            "description": "ID of the calculated Data",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                },
                "examples": {
                  "Simple analysis result": {
                    "value": {
                      "calculationDataType": "RAW_DATA",
                      "rows": [
                        [
                          "20210603",
                          null,
                          null,
                          11.905667554203118,
                          540.0600988969189,
                          27.15953307392996
                        ],
                        [
                          "20210604",
                          null,
                          null,
                          12.287988923502942,
                          509.31568016614744,
                          26.64543524416136
                        ],
                        [
                          "20210605",
                          null,
                          null,
                          20.974760661444737,
                          313.7528285465622,
                          25.699300699300696
                        ]
                      ],
                      "rowCount": 3,
                      "rowCountTotal": 87,
                      "headers": [
                        {
                          "alias": "time_id_categories_t_year_month_day|0",
                          "arrangeType": "time_id_categories_t_year_month_day",
                          "sumPositions": [
                            87
                          ],
                          "name": "time_days",
                          "sortIndex": 0,
                          "sortDirection": "ASCENDING"
                        },
                        {
                          "alias": "visits|0",
                          "arrangeType": "visits",
                          "name": "visits",
                          "metric": true
                        },
                        {
                          "alias": "page_impressions|0",
                          "arrangeType": "page_impressions",
                          "name": "pages_pageImpressions",
                          "metric": true
                        },
                        {
                          "alias": "predefined_formula_new_visitor_rate|0",
                          "arrangeType": "predefined_formula_new_visitor_rate",
                          "name": "visits_newShare",
                          "metric": true
                        },
                        {
                          "alias": "predefined_formula_avg_visit_duration|0",
                          "arrangeType": "predefined_formula_avg_visit_duration",
                          "name": "visit_duration_avg",
                          "metric": true
                        },
                        {
                          "alias": "predefined_formula_bounce_rate|0",
                          "arrangeType": "predefined_formula_bounce_rate",
                          "name": "visits_bounceRate",
                          "metric": true
                        }
                      ],
                      "columnCount": 6,
                      "warnings": [],
                      "timerange": [
                        "2021-06-03T00:00:00.000+0200",
                        "2021-08-29T00:00:00.000+0200"
                      ],
                      "timestamp": "2021-08-31T19:27:08.863+0200"
                    }
                  },
                  "Ref analyis result" : {
                    "$ref": "example-analysis-result.json"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  }
}
