{
  "openapi": "3.0.3",
  "info": {
    "title": "Analytics API",
    "description": "OpenAPI 3.0 Specification of Mapp Intelligence AnalyticsAPI",
    "version": "1.0.0",
    "contact": {
      "name": "Mapp",
      "url": "https://www.mapp.com",
      "email": "swat@webtrekk.com"
    }
  },
  "servers": [
    {
      "url": "https://analytics-int-01.nbg.webtrekk.com/analytics-service/intelligence-api/",
      "description": "API Endpoint"
    }
  ],
  "tags": [
    {
      "name": "Query Management",
      "description": "Create and management of analysis query"
    },
    {
      "name": "Data Delivery",
      "description": "Provide analysis data"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth_security_scheme": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://analytics-int-01.nbg.webtrekk.com/analytics-service/intelligence-api/oauth/token",
            "scopes": {
              "mapp.intelligence-api": "submit analysis query"
            }
          }
        }
      }
    },
    "schemas": {
      "FilterPredictateEnum": {
        "type": "string",
        "enum": [
          "EQUAL",
          "UNEQUAL",
          "LESS",
          "LESSEQUAL",
          "GREATER",
          "GREATEREQUAL",
          "BETWEEN",
          "LIKE",
          "NOT_LIKE"
        ]
      },
      "ConnectorPredictateEnum": {
        "type": "string",
        "enum": [
          "AND",
          "OR"
        ]
      },
      "InOrNotInPredictateEnum": {
        "type": "string",
        "enum": [
          "IN",
          "NOT_IN"
        ]
      },
      "ContextEnum": {
        "type": "string",
        "enum": [
          "VISITOR",
          "SESSION",
          "PAGE",
          "ACTION",
          "ATOMIC",
          "NONE"
        ]
      },
      "Container": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "description": "Array of filters",
            "items": {
              "type": "object",
              "description": "Filter",
              "properties": {
                "name": {
                  "type": "string"
                },
                "filterPredicate": {
                  "$ref": "#/components/schemas/FilterPredictateEnum"
                },
                "connector": {
                  "$ref": "#/components/schemas/ConnectorPredictateEnum"
                },
                "caseSensitive": {
                  "type": "boolean"
                },
                "context": {
                  "$ref": "#/components/schemas/ContextEnum"
                },
                "intern": {
                  "type": "boolean"
                },
                "value1": {
                  "type": "string"
                },
                "value2": {
                  "type": "string"
                }
              }
            }
          },
          "containers": {
            "type": "array",
            "description": "array of containers (recursion)",
            "items": {
              "$ref": "#/components/schemas/Container"
            }
          },
          "connector": {
            "$ref": "#/components/schemas/ConnectorPredictateEnum"
          },
          "context": {
            "$ref": "#/components/schemas/ContextEnum"
          },
          "type": {
            "type": "string"
          },
          "inOrNotIn": {
            "$ref": "#/components/schemas/InOrNotInPredictateEnum"
          }
        }
      },
      "AnalysisQuery": {
        "type": "object",
        "properties": {
          "resultType": {
            "type": "string",
            "description": "Type of result",
            "enum": [
              "DATA_ONLY"
            ]
          },
          "queryObject": {
            "type": "object",
            "description": "Query definition",
            "properties": {
              "columns": {
                "type": "array",
                "description": "Array of columns",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "sortDirection": {
                      "type": "string"
                    },
                    "lowerLimit": {
                      "type": "integer"
                    },
                    "upperLimit": {
                      "type": "integer"
                    },
                    "columnPeriod": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    },
                    "context": {
                      "type": "string"
                    },
                    "variant": {
                      "type": "string"
                    },
                    "predefinedContainer": {
                      "$ref": "#/components/schemas/Container"
                    }
                  }
                }
              },
              "variant": {
                "type": "string",
                "description": "Type of Data Structure",
                "enum": [
                  "LIST",
                  "PIVOT"
                ]
              },
              "predefinedContainer": {
                "$ref": "#/components/schemas/Container"
              }
            },
            "required": [
              "columns",
              "variant",
              "predefinedContainer"
            ]
          }
        },
        "required": [
          "resultType",
          "queryObject"
        ]
      },
      "AnalysisResult": {
        "$ref": "schema-analysis-result.json"
      },
      "Problem": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "HTTP Status Code"
          },
          "statusCode": {
            "type": "string",
            "description": "Specific Mapp Error Code"
          },
          "title": {
            "type": "string",
            "description": "Short description of the problem"
          },
          "detail": {
            "type": "string",
            "description": "Detailed informations about the problem"
          }
        }
      },
      "QueryState": {
        "title": "QueryState",
        "type": "object",
        "properties": {
          "calculationId": {
            "type": "string",
            "description": "Id of the calculated data"
          },
          "resultUrl": {
            "type": "string",
            "description": "Link to get analysis data"
          },
          "status": {
            "type": "string",
            "description": "Analysis query state",
            "enum": [
              "SUCCESS",
              "FAILED",
              "ABORTED",
              "RUNNING"
            ]
          },
          "details": {
            "type": "object",
            "properties": {
              "lastUpdatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    },
    "responses": {
      "Forbidden": {
        "description": "No permission to execute operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "examples": {
              "AnalysisNotFound": {
                "summary": "Invalid Token",
                "value": {
                  "title": "Invalid Token",
                  "status": 403,
                  "detail": "Token not valid",
                  "statusCode": "INVALID_TOKEN"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Entity not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "examples": {
              "AnalysisNotFound": {
                "summary": "CorrelationId does not exist",
                "value": {
                  "title": "Analysis not found",
                  "status": 404,
                  "detail": "Analysis not found",
                  "statusCode": "ANALYSIS_NOT_FOUND"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth_security_scheme": [
        "mapp.intelligence-api"
      ]
    }
  ],
  "paths": {
    "/analysis-query": {
      "post": {
        "tags": [
          "Query Management"
        ],
        "summary": "Submit analysis query",
        "description": "Long description Submit an analysis query",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "requestBody": {
          "description": "Analytics Request Format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisQuery"
              },
              "examples": {
                "Pivot" : {
                  "$ref": "/example-analysis-query.json"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis completed",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "calculationId": {
                      "type": "string"
                    },
                    "resultUrl": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Calculated data available": {
                    "value": {
                      "calculationId": "8612fa1eaada53fbb1956402bbded4db732074e7e399645880ae6a54b99a2bd9_294915650484552",
                      "resultUrl": "https://analytics-qa.nbg.webtrekk.com/analytics-service/intelligence-api/analysis-result/8612fa1eaada53fbb1956402bbded4db732074e7e399645880ae6a54b99a2bd9_294915650484552"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Analysis enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "correlationId": {
                      "type": "string"
                    },
                    "statusUrl": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Query enqueued": {
                    "value": {
                      "correlationId": "94295cef-5b64-4934-ba25-011dd997aa81",
                      "statusUrl": "https://analytics-qa.nbg.webtrekk.com/analytics-service/intelligence-api/analysis-query/94295cef-5b64-4934-ba25-011dd997aa81"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "Invalid JSON input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis-query/{correlationId}": {
      "get": {
        "tags": [
          "Query Management"
        ],
        "summary": "Get query status",
        "description": "Long description",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "description": "ID of the query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Query status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryState"
                },
                "examples": {
                  "Analysis running": {
                    "value": {
                      "calculationId": "579d66fe984f72f7154c5f48e0d3d65741dac870eb337a0524d4d3db02f119b7_294915650484552",
                      "status": "RUNNING",
                      "details": {
                        "lastUpdatedAt": 1630430823529
                      }
                    }
                  },
                  "Analysis completed": {
                    "value": {
                      "calculationId": "579d66fe984f72f7154c5f48e0d3d65741dac870eb337a0524d4d3db02f119b7_294915650484552",
                      "status": "SUCCESS",
                      "resultUrl": "https://analytics-qa.nbg.webtrekk.com/analytics-service/intelligence-api/analysis-result/579d66fe984f72f7154c5f48e0d3d65741dac870eb337a0524d4d3db02f119b7_294915650484552",
                      "details": {
                        "lastUpdatedAt": 1630430828912
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Query Management"
        ],
        "summary": "Cancel query",
        "description": "Long description",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "description": "ID of the query to be canceled",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Query successfully canceled"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analysis-result/{calculationId}": {
      "get": {
        "tags": [
          "Data Delivery"
        ],
        "summary": "Download analysis data",
        "description": "Long description",
        "externalDocs": {
          "url": "https://documentation.mapp.com"
        },
        "parameters": [
          {
            "name": "calculationId",
            "in": "path",
            "description": "ID of the calculated Data",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                },
                "examples": {
                  "Simple analysis result": {
                    "$ref": "./example-analysis-result.json"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  }
}
